<!DOCTYPE html>
<html lang="en" ng-app="todos">
<head>
    <meta charset="utf-8" />
    <title>OST Todos</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="description" content="OST ToDos: FIREHAWK">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600,400' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    @Styles.Render( "~/Content/css" )
</head>
<body data-ng-class="{ true:'logged-in', false:'anonymous' }[isLoggedIn()]" data-ng-cloak>

    <nav>
        <h1>todo</h1>

        <a role="portrait" href="/#/lists"><img src="@Url.Content( "~/Content/img/cat-photo.png" )" alt="Example User" title="Example User"/><span>Example User: Profile</span></a>

        <ul>
            @*                            <li ng-hide="isLoggedIn()"><a href="/#login">Login</a></li>
                            <li ng-hide="isLoggedIn()"><a href="/#register">Register</a></li>
                            <li><a ng-show="isLoggedIn()" href="#" ng-click="logout()">Sign Out</a></li>*@
            <li><a data-ng-show="isLoggedIn()" href="#" data-ng-click="logout()"><i class="fa fa-sign-out"></i> Sign Out</a></li>
            <li>
                <a href="#/lists"><i class="fa fa-eye"></i> Discover</a>
            </li>
            <li>
                <a href="/#/lists"><i class="fa fa-flask"></i> UI Kit</a>
            </li>
            <li>
                <a href="/#/lists"><i class="fa fa-file-text-o"></i> Pages</a>
            </li>
            <li>
                <a href="/#/lists"><i class="fa fa-envelope-o"></i> Mail</a>
            </li>
            <li>
                <a href="/#/lists"><i class="fa fa-tasks"></i> Tasks</a>
            </li>
            <li>
                <a href="/#/lists"><i class="fa fa-pencil"></i> Notes</a>
            </li>
            <li>
                <a href="/#/lists"><i class="fa fa-clock-o"></i> Timeline</a>
            </li>
        </ul>
    </nav>

    <div role="main" ng-view>

        @RenderBody()

    </div>

    <section class="sidebar-form">
        <header>
            <h1>Timeline</h1>
        </header>
        <form>
            <label>Name</label>
            <input type="text"></input>

            <label>Date</label>
            <input type="date"></input>

            <label>Time</label>
            <input type="time"></input>

            <label>Type</label>
            <select></select>

            <button>Add an Event</button>
        </form>

    </section>

    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/angular" )
    @Scripts.Render( "~/bundles/app" )
    @RenderSection( "scripts", required: false )
</body>
</html>
