<!DOCTYPE html>
<html lang="en" ng-app="todos">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>OST Todos</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @Styles.Render("~/Content/normalize")
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <a href="/#login"><img src="~/Content/img/OST-Logo.png" alt="OST" title="OST"/></a>
            <nav>
                <a ng-hide="isLoggedIn()" href="/#login">Login</a>
                <a ng-hide="isLoggedIn()" href="/#register">Register</a>
                <a ng-show="isLoggedIn()" href="#" ng-click="logout()">Sign Out</a>
            </nav>
        </header>
        
        <div ng-view>
            @RenderBody()
        </div>
        
        <footer>
            <p><a href="http://www.ostusa.com/app-dev" target="_blank">OST</a> &copy; 2013</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)
    </body>
</html>
